<div class="container-bookings">

  <h1>Requests to validate</h1>
  <div class="booking-cards">
    <% @bookings.each do |booking| %>
      <% if booking.start_date >= Date.today %>
        <div class="booking-card">
          <% if booking.validated == false %>
            <div class="owner booking-card-picture <%= booking.validated ? '' : 'pending' %>" style="background-image: linear-gradient(rgba(230,230,230,0.8), rgba(230,230,230,0.8)), url('<%= cl_image_path booking.boat.photo %>')">
                <p class="warning-message"><%= booking.user.first_name %> wants to book <%= booking.boat.name %>!</p>
            </div>
          <% else %>
             <div class="booking-card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.boat.photo %>')">
          <% end %>
          <div class="booking-card-description">
            <h2><%= booking.boat.name %></h2>
            <p><i class="fas fa-map-marker-alt"></i> <%= booking.boat.location.split(",").first %></p>
            <p><%= booking.start_date.to_formatted_s(:long) %> - <%= booking.end_date.to_formatted_s(:long) %></p>
            <% if booking.validated == false %>
              <%= link_to "Validate", booking_path(booking), method: :patch, class: "btn-validate" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


  <h1>Past requests</h1>
  <div class="booking-cards">
    <% @bookings.each do |booking| %>
      <% if booking.start_date < Date.today %>
        <div class="booking-card">
           <div class="owner booking-card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.boat.photo %>')">
            </div>
            <div class="booking-card-description">
              <h2><%= booking.boat.name %></h2>
              <p><i class="fas fa-map-marker-alt"></i> <%= booking.boat.location.split(",").first %></p>
              <p><%= booking.user.first_name %> booked <%= booking.boat.name %> and loved it!</p>
              <p><%= booking.start_date.to_formatted_s(:long) %> - <%= booking.end_date.to_formatted_s(:long) %></p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%# Mettre les bookings non validees et a venir en haut de la page, les autres en-dessous.%>
<%# Pour ces bookings seulement, mettre un bouton "valider" qui va appeler l'action edit/update du BookingsController et venir mettre a jour le statut.  %>
<%# Voir si on veut trier aussi les bookings par bateau %>
