<div class="container-bookings">

  <h1>Upcoming requests</h1>
  <div class="booking-cards">
    <% @bookings.each do |booking| %>
      <%= render 'card-booking', booking: booking %>
    <% end %>
  </div>


  <h1>Past requests</h1>
  <div class="booking-cards">
    <% @bookings.each do |booking| %>
      <% if booking.start_date < Date.today %>
        <div class="booking-card">
           <div class="owner booking-card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.boat.photo %>')"></div>
            <div class="booking-card-description">
              <h2><%= booking.boat.name %></h2>
              <div class="booking-description-item">
                <div class="font-awesome"><p><i class="fas fa-map-marker-alt"></i></p></div>
                <p><%= booking.boat.location.split(",").first %></p>
              </div>
              <div class="booking-description-item">
                <div class="font-awesome"><p><i class="far fa-calendar-alt"></i></p></div>
                <p><%= booking.start_date.strftime(" %b %e, %Y") %> - <%= booking.end_date.strftime(" %b %e, %Y") %></p>
              </div>
              <div class="booking-description-item">
                <div class="font-awesome"><p><i class="fas fa-money-bill"></i></p></div>
                <p><%= (booking.end_date - booking.start_date).to_i * booking.boat.price_per_day %>€ all inclusive</p>
              </div>
              <div class="booking-description-item">
                <div class="font-awesome"><p><i class="fas fa-user"></i></p></div>
                <p><%= booking.user.first_name %> had a nice party!</p>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%# Mettre les bookings non validees et a venir en haut de la page, les autres en-dessous.%>
<%# Pour ces bookings seulement, mettre un bouton "valider" qui va appeler l'action edit/update du BookingsController et venir mettre a jour le statut.  %>
<%# Voir si on veut trier aussi les bookings par bateau %>
