<div class="container">

  <div class="upcoming-bookings">
    <h1>Upcoming parties</h1>
    <div class="booking-cards">
      <% @bookings.each do |booking| %>
        <% if booking.start_date >= Date.today %>
          <div class="booking-card <%= booking.validated ? '' : 'pending' %>">
            <% if booking.validated == false %>
              <div class="booking-card-picture" style="background-image: linear-gradient(rgba(230,230,230,0.8), rgba(230,230,230,0.8)), url('<%= cl_image_path booking.boat.photo %>')">
                <p><em><%= booking.boat.name %>, <%= booking.boat.location %></em></p>
                <p class="warning-message">Not confirmed by owner yet</p>
              </div>
            <% else %>
              <div class="booking-card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.boat.photo %>')">
                <p><em><%= booking.boat.name %>, <%= booking.boat.location %></em></p>
              </div>
            <% end %>
            <div class="booking-card-description">
              <p><%= booking.start_date.to_formatted_s(:long) %> - <%= booking.end_date.to_formatted_s(:long) %></p>
              <p>Total price: <%= (booking.end_date - booking.start_date).to_i * booking.boat.price_per_day %>€</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="past-bookings">
    <h1>Your last parties</h1>
    <div class="booking-cards">
      <% @bookings.each do |booking| %>
        <% if booking.start_date < Date.today %>
          <div class="booking-card">
            <div class="booking-card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.boat.photo %>')">
              <p><em><%= booking.boat.name %>, <%= booking.boat.location %></em></p>
            </div>
            <div class="booking-card-description">
              <p><%= booking.start_date.to_formatted_s(:long) %> - <%= booking.end_date.to_formatted_s(:long) %></p>
              <p>Total price: <%= (booking.end_date - booking.start_date).to_i * booking.boat.price_per_day %>€</p>

              <% if booking.review != nil %>
                <p class="booking-note">Your note:
                  <% booking.review.note.times do%>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - booking.review.note).times do%>
                    <i class="far fa-star"></i>
                    <% end %>
                </p>
              <% else %>
                <%= link_to "Leave a comment", new_booking_review_path(booking), class: "btn-comment" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%# N'afficher le bouton "leave a comment" que pour les bookings passees et validees %>
<%# Ne l'afficher que si l'utilisateur n'a pas déjà laisse de comment pour cette reservation.  %>
<%#= Donc mettre des validations sur les reviews en fonction des bookings %>

<%# Trier les bookings selon passees et a venir %>
<%# Trier aussi selon celles qui ont ete validees par le owner ou non  %>
