<div class="container">
  <div class="background-picture">

    <div class="row">
        <div class="col-12 col-md-8">
          <h1>Tell us more about your boat !</h1>
          <%= simple_form_for(@boat) do |f| %>
          <%= f.input :name %>
          <%= f.input :capacity, label: "Capacity (number of passengers)", collection: Boat::CAPACITY %>
          <%= f.input :location %>
          <%= f.input :theme, as: :radio_buttons, collection: Boat::THEMES, wrapper: :vertical_collection_inline %>
          <%= f.input :price_per_day, label: "Price per day (euros)", input_html: {min: '0', max: '2000'} %>
          <%= f.input :photo, label: "📷 Upload photos of your boat", label_html: { class: 'btn btn-warning' }, input_html: { class: 'd-none'}  %>
          <%= f.input :photo_cache, as: :hidden  %>
          <%= f.submit "Add your boat", class: "btn btn-primary" %>
          <% end %>
        </div>
    </div>
  </div>
</div>

