<div class="gallery-photo-flex">
  <div class="gallery-main"><%= cl_image_tag @boat.photo, crop: :fill %></div>
  <div class="gallery-others">
    <%= cl_image_tag @boat.photo_2, crop: :fill %>
    <%= cl_image_tag @boat.photo_3, crop: :fill %>
    <%= cl_image_tag @boat.photo_4, crop: :fill %>
    <%= cl_image_tag @boat.photo_5, crop: :fill %>
  </div>
</div>

<div class="container">

  <div class="content">
    <div class="left_part">
      <div class="show_title">
        <div>
          <h1><%= @boat.name %></h1>
          <p>
            <i class="fas fa-map-marker-alt"></i>
            <%= @boat.location %>
          </p>
        </div>
        <div>
          <i class="fas fa-user-tag"></i><%= cl_image_tag @boat.user.photo, width: 80, height: 80, crop: :fill, class: "avatar-large" %>
        </div>
      </div>
      <div class="show_infos">
        <p><i class="fas fa-users"></i> <strong>Capacity</strong>: <%= @boat.capacity %></p>
        <p><i class="fas fa-dollar-sign"></i> <strong>Price per day</strong>: <%= @boat.price_per_day %>€</p>
        <p><i class="fas fa-user-tag"></i> <strong>Owner</strong>: <%= @boat.user.first_name %> <%= @boat.user.last_name %></p>
      </div>
      <div class="show_reviews">
        <% if @boat.reviews != nil %>
          <% @boat.reviews.each do |review| %>
            <p>Review: <%= review.content %></p>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="right-part">
      <h1>Book now</h1>
      <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
        <h2 style="padding-bottom: 8px">Choose your booking date</h2>
          <%= simple_form_for([@boat, @booking]) do |f| %>
          <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "Book", class: "btn btn-primary", id: "sweet-alert-demo" %>
          <%= link_to "", my_bookings_path, id: "my_bookings_link", class: "hidden" %>
        <% end %>
      </div>




<!--       <div class="form_show_page">
        <%#= simple_form_for [@boat, @booking] do |f| %>
          <%#= f.input :start_date %>
          <%#= f.input :end_date %>
          <%#= f.submit %>
        <%# end %>
      </div> -->
    </div>

  </div>


  <%= link_to "Book this boat", new_boat_booking_path(@boat) %>
<br>
  <%= link_to "Back to List", boats_path %>
</div>


