  <div class="card-mosaic">
    <div class="first-card">
      <%= cl_image_tag @boat.photo, crop: :fill, class:"boat-card-first" %>
    </div>
    <div class="card-mosaic-multi">
      <div class="card-mosaic-size">
        <%= cl_image_tag @boat.photo_2, crop: :fill, class:"mosaic-boat-card" %>
      </div>
      <div class="card-mosaic-size">
        <%= cl_image_tag @boat.photo_3, crop: :fill, class:"mosaic-boat-card" %>
      </div>
    </div>
    <div class="card-mosaic-multi">
      <div class="card-mosaic-size">
        <%= cl_image_tag @boat.photo_4, crop: :fill, class:"mosaic-boat-card" %>
      </div>
      <div class="card-mosaic-size">
        <%= cl_image_tag @boat.photo_5, crop: :fill, class:"mosaic-boat-card" %>
      </div>
    </div>
  </div>

<div class="container">

  <div class="content">
    <div class="left_part">
      <div class="show_title">
        <div>
          <h1><%= @boat.name %></h1>
        </div>
        <div class="rating-container">
          <div class="boat-rating">
            <% @boat.average_note.times do %>
              <i class="fas fa-star" id="star"></i>
            <% end %>
            <% (5 - @boat.average_note).times do %>
              <i class="far fa-star" id="star"></i>
            <% end %>
          </div>
        </div>
        <div class="avatar-picture">
            <!-- <i class="fas fa-user-tag"> --></i><%= cl_image_tag @boat.user.photo, width: 80, height: 80, crop: :fill, class: "avatar-large" %>
        </div>
      </div>
      <div class="show_infos">
        <div class="info-card"><p><i class="fas fa-users"></i> <strong>Capacity</strong>: <br><%= @boat.capacity %></p></div>
        <div class="info-card"><p><i class="fas fa-user-tag"></i> <strong>Owner</strong>: <br><%= @boat.user.first_name %> <%= @boat.user.last_name %></p>
        </div>
        <div class="info-card"><p><i class="fas fa-dollar-sign"></i> <strong>Price per day</strong>: <br><%= @boat.price_per_day %>€</p></div>
        <div class="info-card"><p><i class="fas fa-map-marker-alt"></i> <strong>Location</strong>: <br><%= @boat.location %></p></div>
      </div>
      <div class="show_reviews">
        <br>
        <h3>Last reviews</h3>
        <br>
        <% if @boat.reviews != nil %>
          <% @boat.reviews.each do |review| %>
          <ul>
            <li><p>"<%= review.content %>" from <strong><%= review.user.first_name %></strong> on <%= review.created_at.strftime("%m/%d/%Y") %></p>
            </li>
          </ul>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="right-part">
      <h1>Book now</h1>
      <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
        <h2 style="padding-bottom: 8px">Choose your booking date</h2>
          <%= simple_form_for([@boat, @booking]) do |f| %>
          <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "Book", class: "btn btn-primary", id: "sweet-alert-demo" %>
          <%= link_to "", my_bookings_path, id: "my_bookings_link", class: "hidden" %>
        <% end %>
      </div>




<!--       <div class="form_show_page">
        <%#= simple_form_for [@boat, @booking] do |f| %>
          <%#= f.input :start_date %>
          <%#= f.input :end_date %>
          <%#= f.submit %>
        <%# end %>
      </div> -->
    </div>

  </div>
<!--   <%= link_to "Book this boat", new_boat_booking_path(@boat) %> -->
<!--   <%= link_to "Back to List", boats_path %> -->
</div>


